<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script>

    function clickButton(){
        let button = document.getElementsByName('acceptButton')
        console.log(button.data)
    }
    
    function acceptFriend(username){
        fetch('/friendslist/acceptFriendRequest', {
        method: 'POST',
        body: JSON.stringify({ username }),
        headers: { 'Content-Type': 'application/json' }
        })
        setTimeout(() => {
            window.location.reload();
        }, 1000);
    }

    function rejectFriend(username){
        fetch('/friendslist/rejectFriendRequest',{
            method: 'POST',
            body: JSON.stringify({ username }),
            headers: { 'Content-Type': 'application/json' } 
        })
        setTimeout(() => {
            window.location.reload();
        }, 1000);
    }

    function deleteFriend(username){
        fetch('friendslist/deleteFriend',{
            method: 'POST',
            body: JSON.stringify({ username }),
            headers: { 'Content-Type': 'application/json' }
        })
        setTimeout(() => {
            window.location.reload();
        }, 1000);
    }

    </script>
</head>
<body>
    <div class="header">
        <a href="/dashboard">Typer Challenge</a>
        <div class="right-header">
            <a href="/group">GROUP</a>
            <a href="/leaderboard">LEADERBOARD</a>
            <a href="/friendslist">FRIENDS</a>
            <form action="/logout" method="POST">
                <button id="logout-button">LOGOUT</button>
            </form>
        </div>
    </div>
    <div id="addFriends">
        <form action="/sendfriendrequest" method="POST">
            <input type="text" placeholder="Username" name="friendRequestName">
            <button>Send Friend Request</button>
            <% if (message) { %> 
                <div class="flash-error"> <%= message  %> </div>
            <% } %> 
        </form>
        <div>
            <div class="listBox">
                <div class="friendRequests">
                    <h3>Pending Friend Requests</h1>
                    <table>
                        <tr>
                            <th>Username</th>
                        </tr>
                        <% if (count > 0) { %> 
                            <% for (let i = 0; i < count; i++) { %>
                                <tr>
                                    <td><%-requestedUsernames[i]%></td>
                                    <td><button class="acceptButton" onclick="acceptFriend(`<%-requestedUsernames[i]%>`);" name="acceptButton" value="<%-requestedUsernames[i]%>">Accept</button></td>
                                    <td><button class="deleteButton" onclick="rejectFriend(`<%-requestedUsernames[i]%>`);" name="deleteButton" value="<%-requestedUsernames[i]%>">Delete</button></td>
                                </tr>
                            <% } %>
                        <% } %> 
                    </table>
                </div>
                <div class="friendRequests">
                    <h3>Friend List</h3>
                    <table>
                        <tr>
                            <th>Username</th>
                        </tr>
                        <% if (friendListCount > 0) { %> 
                            <% for (let i = 0; i < friendListCount; i++) { %> 
                                <tr>
                                    <td><%- friendsListNames[i].username %> </td>
                                    <td style="width: 150px;"><%- friendsListNames[i].wins %> Wins</td>
                                    <td><button class="deleteButton" onclick="deleteFriend(`<%-friendsListNames[i].username%>`);" name="deleteButton" value="<%-requestedUsernames[i]%>">Delete</button></td>
                                </tr>
                            <% } %>
                        <% } %> 
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>