<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/dashboard">Typer Challenge</a>
        <div class="right-header">
            <a href="">GROUP</a>
            <a href="leaderboard">LEADERBOARD</a>
            <a href="/friendslist">FRIENDS</a>
            <form action="/logout" method="POST">
                <button id="logout-button">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="group-box">
        <form action="/addGroup" method="POST">
            <p>Group Creation</p>
            <input type="text" placeholder="Group name" name="groupName">
            <button type="submit">Create Group</button>
        </form>
        <form action="/joinGroup" method="POST">
            <p>Join Group</p>
            <input type="text" placeholder="Group name" name="groupName1">
            <button type="submit">Join Group</button>
        </form>
        <table>
            <tr>
                <th><p>Group name: <span style="color: red;"><%- userData[0].GroupName %></span> </p></th>
            </tr>
        </table>
        <div class="leaderboard-box">
            <table class="leaderboard" cellspacing="0">
                <tr class="leaderboard-row">
                    <th>Username</th>
                    <th>Today's WPM</th>
                    <th>Total Wins</th>
                </tr>
                <% if (groupMemberData.length > 0) { %> 
                    <% for (let i = 0; i < groupMemberData.length; i++) { %> 
                        <tr class='leaderboard-row' data-place="<%- i %>">
                            <td class="table-username"><%- groupMemberData[i].result[0].username %> </td>
                            <td><%- groupMemberData[i].result[0].wpm %> </td>
                            <td><%- groupMemberData[i].result[0].wins %> </td>
                        </tr>
                    <% } %>
                <% } %> 
            </table>
        </div>
    </div>
</body>